.edit-desc {
  padding-bottom: 16px;
  &__form {
    width: 100%;
  }
  &__textarea {
    line-height: 1.7;
  }
  &__title {
    font-size: 13px;
    color: rgba(white, 0.6);
  }
  &__text {
    display: flex;
    align-items: baseline;
    word-break: break-word;
    justify-content: space-between;
  }
}
.edit-actions {
  text-align: right;
  &__btn {
    margin-left: 8px;
  }
}
