<ng-container *ngIf="playList$ | async as playList">
  <div class="edit-desc">
    <ng-container *ngIf="isEditable; else text">
      <form [formGroup]="form" (ngSubmit)="updateDescription()">
        <mat-form-field class="edit-desc__form">
          <textarea
            formControlName="description"
            class="edit-desc__textarea"
            autofocus
            matTextareaAutosize
            type="text"
            matInput
            #input
            placeholder="説明"
          ></textarea>
          <mat-hint align="end"
            >{{ input.value.length }} / {{ DescriptionMaxlength }}</mat-hint
          >
          <mat-error
            class="mat-error"
            *ngIf="description.hasError('maxlength')"
          >
            <p>最大{{ DescriptionMaxlength }}文字です</p>
            <p>{{ input.value.length }} / {{ DescriptionMaxlength }}</p>
          </mat-error>
        </mat-form-field>
        <div class="edit-actions">
          <button
            class="edit-actions__btn"
            mat-button
            type="button"
            (click)="isEditable = false; setValue()"
          >
            キャンセル
          </button>
          <button
            class="edit-actions__btn"
            mat-raised-button
            color="primary"
            [disabled]="form.pristine"
          >
            保存
          </button>
        </div>
      </form>
    </ng-container>

    <ng-template #text>
      <p class="edit-desc__title">説明</p>
      <div class="edit-desc__text">
        <p>{{ playList.description }}</p>
        <button mat-icon-button (click)="isEditable = true">
          <mat-icon>create</mat-icon>
        </button>
      </div>
    </ng-template>
  </div>
</ng-container>
