<header class="header">
  <mat-toolbar class="header__toolbar" color="bacic">
    <div class="header__left">
      <button mat-icon-button (click)="onDrawerToggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="header__logo-link" routerLink="/">
        <img class="header__image" src="./assets/images/NFT-LOGO.png" alt="" />
        <h1 class="header__logo">LOGO</h1>
      </a>
    </div>

    <div class="search">
      <input
        class="search__input"
        type="text"
        autocomplete="off"
        placeholder="Search"
      />
      <button class="search__button" mat-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <nav class="nav">
      <button mat-icon-button aria-label="Example icon button with a menu icon">
        <mat-icon>notifications</mat-icon>
      </button>

      <div *ngIf="user$ | async as user">
        <button
          class="nav__user-avatar"
          mat-mini-fab
          [matMenuTriggerFor]="menu"
          [style.background-image]="'url(' + user.avatarURL + ')'"
        ></button>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            ログアウト
          </button>

          <mat-divider></mat-divider>

          <a mat-menu-item routerLink="/account">
            <mat-icon>account_box</mat-icon>
            アカウント管理
          </a>
        </mat-menu>
      </div>
    </nav>
  </mat-toolbar>
</header>
