<header class="header">
  <mat-toolbar class="header__toolbar" color="bacic">
    <div class="header__left">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <img class="header__image" src="./assets/images/NFT-LOGO.png" alt="" />
      <h1 class="header__logo">LOGO</h1>
    </div>

    <div class="search">
      <input
        class="search__input"
        type="text"
        autocomplete="off"
        placeholder="Search"
      />
      <button class="search__button" mat-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <nav class="nav">
      <button mat-icon-button aria-label="Example icon button with a menu icon">
        <mat-icon>notifications</mat-icon>
      </button>

      <a class="nav__user-avatar" href="">
        <img src="./assets/images/dummy-icon.png" alt="" />
      </a>
    </nav>
  </mat-toolbar>
</header>
