.edit {
  margin-bottom: 24px;
  box-sizing: border-box;
  overflow: auto;
  &__form-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
  }
  &__stats {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: rgba(white, 0.6);
    margin-bottom: 16px;
  }
  &__text {
    display: flex;
    align-items: center;
  }
}

.video-list-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  gap: 24px;
}
