<div class="nav__container">
  <mat-nav-list class="nav__side-list">
    <a mat-list-item routerLink="/home">
      <div class="nav__mini-variant">
        <mat-icon mat-list-icon>home</mat-icon>
        <span matLine>ホーム</span>
      </div>
    </a>
    <a mat-list-item routerLink="/my-list">
      <div class="nav__mini-variant">
        <mat-icon mat-list-icon>list</mat-icon>
        <span matLine>マイリスト</span>
      </div>
    </a>
    <a mat-list-item routerLink="/book-mark">
      <div class="nav__mini-variant">
        <mat-icon mat-list-icon>book</mat-icon>
        <span matLine>ブックマーク</span>
      </div>
    </a>
    <a mat-list-item routerLink="/facet">
      <div class="nav__mini-variant">
        <mat-icon mat-list-icon>loyalty</mat-icon>
        <span matLine>タグ</span>
      </div>
    </a>
  </mat-nav-list>
</div>
