<ng-container *ngIf="playList$ | async as playList">
  <div class="edit-title">
    <ng-container *ngIf="isTitleEditable; else title">
      <form [formGroup]="form" (ngSubmit)="updateListName()">
        <mat-form-field class="edit-title__form">
          <input
            formControlName="listName"
            class="edit-title__input"
            placeholder="マイリストの名前を入力"
            autocomplete="off"
            matInput
            autofocus
            required
            #input
          />
          <mat-error *ngIf="listName.hasError('required')"
            >必須入力です</mat-error
          >
          <mat-error class="mat-error" *ngIf="listName.hasError('maxlength')">
            <p>最大150文字です</p>
            <p>{{ input.value.length }} / 150</p>
          </mat-error>
          <mat-hint align="end">{{ input.value.length }} / 150</mat-hint>
        </mat-form-field>
        <div class="edit-actions">
          <button
            class="edit-actions__btn"
            mat-button
            (click)="isTitleEditable = false; setValue()"
            type="button"
          >
            キャンセル
          </button>
          <button
            class="edit-actions__btn"
            mat-raised-button
            color="primary"
            [disabled]="listName.invalid || form.pristine"
          >
            保存
          </button>
        </div>
      </form>
    </ng-container>
    <ng-template #title>
      <div class="edit-title__name">
        <h3 class="edit-title__text">{{ playList.listName }}</h3>
        <button
          class="edit-title__btn"
          (click)="isTitleEditable = true"
          mat-icon-button
        >
          <mat-icon>create</mat-icon>
        </button>
      </div>
    </ng-template>
  </div>
</ng-container>
