<app-header></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    color="basic"
    [class.open]="!drawerService.drawerState"
    [class.close]="drawerService.drawerState"
    #sidenav
    fixedInViewport
    fixedTopGap="64"
    mode="side"
    opened
    [@onDrawerChange]="!drawerService.drawerState ? 'open' : 'close'"
  >
    <app-mini-variant *ngIf="drawerService.drawerState"></app-mini-variant>
    <app-drawer
      *ngIf="!drawerService.drawerState"
      [@animateText]="!drawerService.linkText ? 'show' : 'hide'"
    ></app-drawer>
  </mat-sidenav>

  <mat-sidenav-content
    [@onMainContentChange]="!drawerService.drawerState ? 'open' : 'close'"
  >
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
