/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 24px;
}
//drawer
.open .nav__side-list .mat-list-item-content {
  padding: 20px !important;
}
.sidenav-container {
  padding-top: 64px;
}
//mini-variant
.close .mat-list-item {
  height: 72px !important;
  display: flex !important;
  justify-content: center;
}
.close .mat-list-item-content {
  flex-direction: column !important;
  align-items: start !important;
  padding: 0 24px !important;
}
.close .mat-list-text {
  padding-left: 0 !important;
}
.close .mat-line {
  font-size: 8px !important;
}
