<app-header></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    color="basic"
    [class.open]="drawerService.isDrawerNavOpen"
    [class.close]="!drawerService.isDrawerNavOpen"
    #sidenav
    fixedInViewport
    fixedTopGap="64"
    mode="side"
    opened
    [@onDrawerChange]="drawerService.isDrawerNavOpen ? 'open' : 'close'"
  >
    <app-mini-variant *ngIf="!drawerService.isDrawerNavOpen"></app-mini-variant>
    <app-drawer
      *ngIf="drawerService.isDrawerNavOpen"
      [@animateText]="drawerService.isDrawerTextOpen ? 'open' : 'close'"
    ></app-drawer>
  </mat-sidenav>

  <mat-sidenav-content
    [@onMainContentChange]="drawerService.isDrawerNavOpen ? 'open' : 'close'"
  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
